* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #F48B26;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap div { display: flex; }
  
.wrap div div {
  position: relative;
  background: #fff;
  border-radius: 50px;
}
  .wrap div div::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50px;
  }

.top, .bottom { width: 105px; height: 30px; }
.right, .left { width: 30px; height: 105px; }
  .top { top: 32.5%; left: -16.5%; }
  .right { top: 15%; left: 2%; }
  .left { top: -14.5%; left: -2%; }
  .bottom { top: 38%; left: 16.5%; }
  
.top::after { top: 50%; left: 100%; }
.bottom::after { top: 50%; left: 0; }
.right::after { top: 100%; left: 50%; }
.left::after { top: 0; left: 50%; }
  
.top::after,
.bottom::after { width: 30px; height: 90px; }
.right::after,
.left::after { width: 90px; height: 30px; }