* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #f7bed9;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.top {
  display: flex;
  flex-direction: column;
}
.top .tri {
  width: 0;
  height: 0;
  border: 55px solid transparent;
  border-bottom: 50px solid #9c274e;
}
.top .rec {
  width: 110px;
  height: 30px;
  background: #9c274e;
}

.center {
  display: flex;
  gap: 50px;
}
.center div {
  width: 175px;
  height: 50px;
  background: #ec007b;
}

.bottom {
  width: 110px;
  height: 30px;
  background: #ec007b;
}
