* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #4f77ff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top,
.bottom {
  display: flex;
  gap: 70px;
}
.top div,
.bottom div {
  width: 0;
  height: 0;
}

.top div {
  border-bottom: 100px solid #fff;
}
.top .left {
  border-right: 100px solid transparent;
}
.top .right {
  border-left: 100px solid transparent;
}

.bottom div {
  border-top: 100px solid #fff;
}
.bottom .left {
  border-right: 100px solid transparent;
}
.bottom .right {
  border-left: 100px solid transparent;
}

.circles {
  display: flex;
  gap: 20px;
}
.circles div {
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
}
