* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #004563;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  
.semiCir {
  width: 120px;
  height: 40px;
  border-radius: 150px 150px 0px 0px;
  border: 30px solid #92B6C7; 
  margin-bottom: 80px;
  z-index: 10;
}

.shape {
  width: 50px;
  height: 50px;
  border: 30px solid #92B6C7; 

  position: absolute;
  top: 45%;
}
  .shL { left: 19%; border-radius: 0 0 60px 0; }
  .shR { right: 19%; border-radius: 0 0 0 60px; }

.cover {
  width: 180px;
  height: 90px;
  
  border: solid #004563; 
  border-width: 30px 50px;
  
  position: absolute;
  top: 45%;
}
