* {
  margin: 0;
}

body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #5D3A3A;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rec {
  position: absolute;
  bottom: 0%;
  right: 0%;
  
  width: 200px;
  height: 250.5px;
  background: #B5E0BA;
}