* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #61A74E;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 180px;
  height: 180px;
  background: #FADE8B;
  border-radius: 50%;
  margin-bottom: 60px;
}
.circle::after {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  top: 42.5%;
  left: 50%;
  
  width: 40px;
  height: 120px;
  background: #61A74E;
  border-radius: 50px;
}

.line {
  transform: translate(-50%, -50%) rotate(-60deg);
  position: absolute;
  top: 69%;
  left: 50%;
  
  width: 60px;
  height: 178px;
  background: #FADE8B;
  border-radius: 0 60px;
}