* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #0D2328;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  width: 160px;
  height: 250px;
  background-image: linear-gradient(#9ED7F8 48%, #0D2328 48%);
  border-radius: 100px;
}

.halfOval {
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translateX(-50%);
  
  width: 120px;
  height: 150px;
  border: 20px solid #9ED7F8;
  border-radius: 100px;
}


  
.shape::before,
.halfOval::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
  .shape::before {
    top: 48%;
    width: 20px;
    height: 120px;
    background: #9ED7F8;
  }
  .halfOval::before {
    top: 27%;
    width: 160px;
    height: 27px;
    background: #0D2328;
  }

.circles {
  position: absolute;
  top: 53.5%;
  display: flex;
  gap: 120px;
}
  .circles div {
    width: 20px;
    height: 20px;
    background: #9ED7F8;
    border-radius: 50%;
  }