* {
  margin: 0;
}

body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #FADE8B;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left, .right {
  width: 0;
  height: 0;
  border: 120px solid transparent;
  border-radius: 50%;
  rotate: 45deg;
  margin: -120px;
}
.left {
  border-left: 120px solid #222222;
  margin-top: 0;
}
.right {
  border-right: 120px solid #222222;
  margin-bottom: 0;
}
  
.left::after,
.right::after {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-radius: 50%;
}
.left::after {
  border-left: 60px solid #FADE8B;
  margin-top: 2px;
}
.right::after {
  border-right: 60px solid #FADE8B;
  margin-top: -2px;
}