* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #B53733;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  width: 160px;
  height: 250px;
  background: #EA7457;
  border-radius: 0 0 40px 40px;
  align-self: start;
}

.shape::after {
  content: '';
  transform: translate(-50%);
  position: absolute;
  bottom: 0%;
  left: 50%;
  
  width: 60px;
  height: 250px;
  background: linear-gradient(to bottom, #B53733 40%, #EA7457 40%);
  border-radius: 40px 40px 0 0;
}