* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #8F77DA;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap div {
  position: absolute;
  top: 31%;
  width: 70px;
  height: 370px;
  background: #A1E6E4;
}

.LtR {
  transform: translate(-50%, -50%) rotate(-35deg);
  left: 47%;
}
.RtL {
  transform: translate(-50%, -50%) rotate(35deg);
  left: 53%;
}