* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #5f133f;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hexagon {
  width: 50px;
  height: 40px;
  background: #f075b0;
  position: absolute;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border: 25px solid transparent;
}
.hexagon::before {
  top: -54.5px;
  border-bottom: 30px solid #f7bed9;
}
.hexagon::after {
  bottom: -54.5px;
  border-top: 30px solid #f075b0;
}

.hex1 {
  top: 30%;
  rotate: 0;
}
.hex2 {
  top: 37.5%;
  left: 57%;
  rotate: 60deg;
}
.hex3 {
  top: 52.5%;
  left: 57%;
  rotate: 120deg;
}
.hex4 {
  bottom: 30%;
  rotate: 180deg;
}
.hex5 {
  top: 52.5%;
  right: 57%;
  rotate: -120deg;
}
.hex6 {
  top: 37.5%;
  right: 57%;
  rotate: -60deg;
}

.circle {
  width: 50px;
  height: 50px;
  background: #f7bed9;
  border-radius: 50%;
  z-index: 5;
  border: 25px solid #f075b0;
}
