* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #6A1368;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rectangle {
  display: flex;
  overflow: hidden;

  width: 280px;
  height: 180px;
  background: #A94EA4;
  border-radius: 20px;
}

.trapezius {
  height: 0;
  width: 100px;
  margin-left: -53%;

  border: 90px solid transparent;
  border-bottom: 110px solid #F7BED9;
}

.triangle {
  width: 0;
  height: 0;
  margin: 31px -65px 0;

  border: 125px solid transparent;
  border-bottom: 150px solid #F7BED9;
  border-top: 0;
}

.extra {
  width: 100px;
  height: 100px;
  background: #F7BED9;
  margin: 90px -50px 0;
}