* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #E8AD6D;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line {
  width: 60px;
  height: 240px;
  background: #7E6293;
  border-radius: 50px;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: -90px 0 0 -60px;
}
.lines div {
  height: 60px;
  background: #7E6293;
  border-radius: 50px;
}
.big { width: 160px; }
.small { width: 120px; }