* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #4f77ff;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 140px;
  height: 140px;
  border: 30px solid #1038bf;
  border-radius: 50%;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;

  width: 140px;
  height: 100px;
  background: #1038bf;
  margin-top: 51.5px;
}
.center div {
  width: 80px;
  height: 70px;
  background: #4f77ff;
  border-radius: 10px;
}

.center::before,
.center::after {
  content: "";
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
}
.center::before {
  top: 30%;
  width: 30px;
  height: 50px;
  background: #4f77ff;
}
.center::after {
  top: 50%;
  width: 20px;
  height: 20px;
  background: #4f77ff;
  border-radius: 50%;
}
