* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #5F0032;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top, .bottom {
  display: flex;
  position: absolute;
}
  .top {
    top: 25%;
    right: 0;
    align-items: flex-start;
  }
  .bottom {
    bottom: 25%;
    left: 0;
    align-items: flex-end;
  }
  
.sq, .hor, .ver,
.centerHor {
  width: 40px;
  height: 40px;
  background: #D9D9D9;
}
  .top .sq { margin-right: 40px; }
  .bottom .sq { margin-left: 40px; }
  .hor { width: 100px; }
  .centerHor { width: 120px; }
  .ver { height: 120px; }