* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #4F77FF;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}

.shape,
.shape::before,
.shape::after {
  background: #EFF8FE;
  border-left: 50px solid #4F77FF;
  border-bottom: 50px solid #4F77FF;
}
.shape::before,
.shape::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}
  
.shape {
  width: 350px;
  height: 300px;
}
.shape::before {
  width: 250px;
  height: 200px;
}
.shape::after {
  width: 150px;
  height: 100px;
}