* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #328FC1;
  gap: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.rec {
  width: 100px;
  height: 20px;
  background: #EEB850;
}