* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #176C36;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.center {
  width: 80px;
  height: 80px;
  background: #024817;
  border-radius: 50%;
}

.tris div {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 0;
  height: 0;
  border: 40px solid transparent;
}
.tris .top {
  top: 23.5%;
  border-bottom: 50px solid #48BF7D;
}
.tris .left {
  left: 23.5%;
  border-right: 50px solid #48BF7D;
}
.tris .bottom {
  top: 76%;
  border-top: 50px solid #48BF7D;
}
.tris .right {
  left: 76%;
  border-left: 50px solid #48BF7D;
}