* { margin: 0; }
  body {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .wrap {
    width: 400px;
    height: 400px;
    background: #B5D1FB;
  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
  }

  .right {
    position: absolute;
    top: 0;
    right: 110px;
  }
  .right .line {
    border-radius: 0 0 50px 50px;
    margin-bottom: 30px;
  }

  .left {
    position: absolute;
    bottom: 0;
    left: 110px;
  }
  .left .line {
    border-radius: 50px 50px 0 0;
    margin-top: 30px;
  }


  .circle {
    width: 60px;
    height: 60px;
    background: #230259;
    border-radius: 50%;
  }
  .line {
    width: 60px;
    height: 200px;
    background: #8819F6;
  }