* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #2F5A76;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top, .bottom {
  display: flex;
}  
  
.top div,
.bottom div {
  width: 110px;
  height: 110px;
}

.top .left,
.bottom .right {
  background: #F5BB60;
} 
.bottom .left,
.top .right {
  background: #F56760;
} 

.top .left {
  border-bottom-left-radius: 250%;
}
.top .right {
  border-top-left-radius: 250%;
}
.bottom .right {
  border-top-right-radius: 250%;
}
.bottom .left {
  border-bottom-right-radius: 250%;
}