* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #0A6190;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  width: 200px;
  height: 100px;
  background: #328FC1;
  transform: skew(-26deg);
}

.shape::before,
.shape::after {
  content: '';
  transform: translate(-50%, -50%) skew(26deg); 
  position: absolute;
  width: 0;
  height: 0;
}
.shape::before {
  top: 70%;
  left: -80px;
  border-bottom: 60px solid #328FC1;
  border-right: 30px solid transparent;
}
.shape::after {
  top: 30%;
  left: calc(100% + 80px);
  border-top: 60px solid #328FC1;
  border-left: 30px solid transparent;
}