* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #96551A;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 140px;
  height: 400px;
  background: #EA9A52;
}
  
.main::before,
.main::after {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #96551A;
}
.main::before {
  width: 150px;
  height: 20px;
}
.main::after {
  width: 70px;
  height: 70px;
}