* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #0B2429;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tri {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.up {
  border-bottom: 80px solid #4A7D7B;
}
.down {
  border-top: 80px solid #4A7D7B;
}