* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #ea7457;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line {
  height: 400px;
  width: 50px;
  background: #b53733;
}

.shape {
  position: absolute;
  width: 150px;
  height: 200px;
  background: #b53733;
}
.shape::after {
  content: "";
  position: absolute;

  width: 75px;
  height: 125px;
  background: #b53733;
  border: solid #ea7457;
}

.shape.TL {
  top: 0;
  left: 0;
}
.shape.TL::after {
  top: 0;
  left: 0;
  border-width: 0 25px 25px 0;
}

.shape.BR {
  bottom: 0;
  right: 0;
}
.shape.BR::after {
  bottom: 0;
  right: 0;
  border-width: 25px 0 0 25px;
}
