* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #F5E3B5;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.arrow {
  width: 240px;
  height: 60px;
  background: #469DBA;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  left: 50%;

  width: 120px;
  height: 120px;
  border: 60px solid transparent; 
  border-left-color: #469DBA;
  border-radius: 50%;
}
.arrow::before {
  top: -2.5%;
  rotate: -45deg;
}
.arrow::after {
  top: 42.5%;
  rotate: 45deg;
}