* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #F58220;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

  
.trapezoid {
  border-bottom: 160px solid #FFFFFF;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  height: 0;
  width: 120px;
}
  .trapezoid::after {
    content: '';
    display: block;
    
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 160px solid #F58220;
  }