* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #6B2222;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top {
  display: flex;
  align-items: flex-end;

  position: absolute;
  top: 0;
}
  .topL, .topR {
    background: #F1F2F2;
    width: 50px;
    height: 50px;
    margin: 0 35px;
  }
  .topC {
    background: #F1F2F2;
    width: 50px;
    height: 180px;
  }

.middle {
  background: #F1F2F2;
  width: 220px;
  height: 50px;
  margin-top: 10px;
}

.down {
  background: #F1F2F2;
  width: 100px;
  height: 190px;

  position: absolute;
  bottom: 0;
}