* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #FAE29E;
  gap: 32px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap div {
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
}
.left {
  border-right: 85px solid #EA9A52;
}
.right {
  border-left: 85px solid #EA9A52;
}