* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #F7BED9;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flag {
  display: flex;
  margin-left: -30px;
}
  .line {
    width: 20px;
    height: 180px;
    background: #8B0051;
    border-radius: 20px;
  }
  .front {
    width: 90px;
    height: 60px;
    background: #F069AB;
    border-radius: 0 8px 8px 0;
    margin-top: 18px;
    z-index: 2;
  }
.back {
  width: 90px;
  height: 60px;
  background: #EC0076;
  border-radius: 8px;
  
  position: absolute;
  top: 37%;
  left: 45%;
}