* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #2E0040;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  width: 200px;
  height: 100px;
  background: #A94EA4;
  border-radius: 50px;
}
  .shape::before,
  .shape::after {
    content: '';
    position: absolute;
    left: 50%;
    
    width: 100px;
    height: 100px;
    background: #D3B1D6;
    border-radius: 50px;
    margin: -1.5px 0;
  }
  .shape::before { transform: translate(-50%, -50%); }
  .shape::after { transform: translate(-50%, 50%); }