* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #F3EAD2;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 360px;
  height: 170px;
  background: #D97D71;
}

.cover {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 33.5%;
  left: 50%;
  
  width: 360px;
  height: 40px;
  background: #857495;
}

.cover::before,
.cover::after {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  top: 200%;
  
  width: 30px;
  height: 120px;
  background: #857495;
}
.cover::before { left: 4.25%; }
.cover::after { left: 95.75%; }