* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #B8F4A6;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  width: 200px;
  height: 200px;
  background: #3BA44D;
  border-radius: 50%;
}
  
.main::before,
.main::after {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 250px;
  height: 250px;
  background: #B8F4A6;
}
.main::before { height: 50px; }
.main::after { width: 50px; }