* {
  margin: 0;
}

body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #F0F0F0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top, .bottom {
  display: flex;
  gap: 20px;
}
.top {
  flex-direction: column;
}
  
.top div {
  width: 100px;
  height: 20px;
  background: #E05947;
}
.bottom div {
  width: 20px;
  height: 100px;
  background: #EAC049;
}