* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #611b3f;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.center {
  height: 100px;
  width: 100px;
  background: #be3184;
  border-radius: 50%;
}

.top,
.bottom {
  position: absolute;
  height: 150px;
  width: 200px;
  background: #be3184;
}
.top {
  right: 0;
  top: 0;
  border-bottom-left-radius: 80px;
}
.bottom {
  left: 0;
  bottom: 0;
  border-top-right-radius: 80px;
}
