* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #ED6A9D;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;
}
.tri {
  width: 0;
  height: 0;
  border-top: 100px solid #050044;
  border-left: 100px solid transparent;
}