* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #9B8170;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.head {
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
  
  border: 20px solid #FFF;
  border-radius: 50% 50% 50% 0;
  rotate: -45deg;
}

.body {
  width: 100px;
  height: 60px;
  background: #9B8170;
  margin: 0 -20px -50px;
  
  border: 20px solid #FFF;
  border-radius: 200px 200px 0 0;
}
.left .body { z-index: 3; }
.right .body { z-index: 2; }

.body::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 30px;
  background: #9B8170;
}
.left .body::after {
  transform: translate(-50%, -50%);
  top: 75%;
  left: 47.5%;
}
.right .body::after {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 56.5%;
  left: 68.5%;
}