* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #6D62BA;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 90px;
  height: 90px;
  background: #A1E6E4;
  border-radius: 50%;
}

.cross .hor,
.cross .ver {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 30px solid #A1E6E4;
}
.cross .hor {
  width: 150px;
  height: 90px;
  border-top: 0;
  border-bottom: 0;
}
.cross .ver {
  width: 90px;
  height: 150px;
  border-left: 0;
  border-right: 0;
}