* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #004563;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.top { display: flex; }
  .top .sq {
    height: 31px;
    width: 31px;
    border: 30px solid #D4EFFC;
  }
  .top .line {
    height: 90px;
    width: 30px;
    background: #D4EFFC;
    margin: 0 30px;
  }

.middle {
  height: 30px;
  width: 270px;
  background: #D4EFFC;
  margin: -30px 0;
}

.bottom { display: flex; align-items: flex-end; }
  .bottom div {
    margin: 0 15px;
    width: 30px;
    background: #D4EFFC;
  }
  .bottom .cir { height: 30px; border-radius: 50%; }
  .bottom .line { height: 90px; width: 30px; }