* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #024817;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bigCir {
  width: 60px;
  height: 60px;
  background: #48bf7d;
  border-radius: 50%;
}

.light,
.dark {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  gap: 60px;
}
.light {
  transform: translate(-50%, -50%);
}
.dark {
  transform: translate(-50%, -50%) rotate(45deg);
}

.light div,
.dark div {
  display: flex;
  gap: 60px;
}

.light div div,
.dark div div {
  width: 40px;
  height: 40px;
  background: #48bf7d;
  border-radius: 50%;
}
.light div div {
  background: #48bf7d;
}
.dark div div {
  background: #176c36;
}
