* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #645E00;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tTri, .bTri {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}
  .tTri { border-top: 100px solid #FFF579; }
  .bTri { border-bottom: 100px solid #FFF579; }

.line {
  width: 60px;
  height: 200px;
  background: #FFF579;
  margin: -50px 0;
}