* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #7BAFDE;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left,
.right {
  width: 100px;
  height: 100px;
  margin-bottom: 1px;
} 
  .left {
    transform: skewY(27deg);
    background: #6867D4;
  }
  .right {
    transform: skewY(-27deg);
    background: #000039;
  }